
%h3 합병에 따른 개인정보 이전 통지 안내

%p 안녕하세요 협동조합 빠띠입니다.

%p 당사는 2020년 4월 1일자로 0000에 흡수합병(이하 “본건 합병”)될 예정입니다. 이에 따라 당사가 보유하는 귀하의 개인정보는 0000로 모두 이전됨을 안내 드립니다.

개인정보를 이전 받는 자에 대한 세부정보는 아래와 같습니다.

%h4 개인정보 이전 받는 자

%ul
  %li 법인명: 협동조합 빠띠
  %li 주소: 서울시 0000
  %li 전화번호: 02-000-0000

%p 이전 후에도 귀하의 개인정보는 기존과 동일하게 법령상 허용된 또는 동의하신 범위 내에서만 이용되며, ‘개인정보 보호법’ 및 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 등 관련 법령에서 정하는 기술적,관리적 보호조치 기준을 준수하여 안전하게 보호됩니다.

%p 개인정보 이전을 원하지 않으신 경우, 아래의 문의처로 연락하여 개인정보 이전 반대의 의사표시를 해주시기 바랍니다.

%h4 문의처
%ul
  %li 성명: 0000
  %li 소속부서 및 지위: 0000
  %li 전화번호: 02-000-0000

%p 다만, 개인정보 이전을 원하지 않는 경우, 본건 합병 이후 0000가 제공하는 서비스 등의 이용이 제한될 수 있으며, 개인정보 이전에 동의하지 않으시는 경우에도 000000는 관련법령상 의무를 준수하기 위하여 일부 정보를 일정기간 보유할 수 있습니다.

%p 탈퇴를 원하시는 경우 0000을 클릭하세요.

%p
  2020년 3월 00일
  %br
  협동조합 빠띠
  %br
  활동가 0000
